@charset "UTF-8";
body,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.fond {
    background-color: #EEEEEE;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EEEEEE;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}

.imgStyle:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }